.App {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20px;
}
.landing-page {
  background-color: lightseagreen;
}
.landing-page button {
  width: 200px;
  height: 150px;
  margin: 10% auto 0 auto;
  border-radius: 7%;
  border-style: solid;
  border-color: black;
}
.landing-page input {
  border-style: solid;
  border-radius: 6px;
  border-color: black;
  height: 20px;
  margin: 10px auto 10px auto;
}

.navbar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: rgb(130, 251, 225);
  left: -200px;
  transition: 0.4s;
}
.navbar.active {
  left: 0px;
}
.navbar ul li {
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 20px 30px;
}

.toggle-button {
  position: relative;
  top: 0;
  left: 120px;
  font-size: x-large;
  color: aliceblue;
}

.toggle-button span {
  width: 45px;
  height: 45px;
  background-color: black;
  display: block;
}
