@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.App {
  text-align: center;
  background-color: #40c9b0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  font-size: x-large;
}

.leaflet-container {
  align-items: baseline;
  height: 100vh;
}

.form-input {
  z-index: 2;
  position: relative;
}

#mapid {
  position: relative;
  height: 180px;
}

.landing-page {
  margin-bottom: 0;
  padding-bottom: 0;
  color: #40c9b0;
  height: 100vh;
  font-weight: 700;
}

.landing-form {
  font-size: larger;
  background-color: #40c9b0;
  color: white;
  z-index: 1;
}

/* Landing page buttons */
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'create join';
}

.create-button {
  color: white;
  grid-area: create;
  width: 60%;
  height: 5rem;
  margin: 10% 1rem 1rem auto;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
  background-image: linear-gradient(#8170f0, #4b37e0);
  border-radius: 20px;
  z-index: 1;
  position: relative;
}

.join-button {
  color: white;
  grid-area: join;
  width: 60%;
  height: 5rem;
  margin: 10% auto 1rem 1rem;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
  background-image: linear-gradient(#f0cc70, #e09437);
  border-radius: 20px;
  z-index: 1;
  position: relative;
}

.group-button {
  color: white;
  width: 30%;
  height: 5rem;
  margin: 1rem auto 0 auto;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
  background-image: linear-gradient(#70f094, #349420);
  border-radius: 20px;
  z-index: 2;
  position: relative;
}
/* Landing page buttons for devices larger than mobile */
@media only screen and (min-width: 600px) {
  .button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'create join';
  }

  .create-button {
    color: white;
    grid-area: create;
    width: 60%;
    height: 5rem;
    margin: 10% 3rem 0 auto;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
    background-image: linear-gradient(#8170f0, #4b37e0);
    border-radius: 80px;
    z-index: 1;
    position: relative;
  }

  .join-button {
    color: white;
    grid-area: join;
    width: 60%;
    height: 5rem;
    margin: 10% auto 0 3rem;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
    background-image: linear-gradient(#f0cc70, #e09437);
    border-radius: 80px;
    z-index: 1;
    position: relative;
  }

  .group-button {
    color: white;
    width: 30%;
    height: 5rem;
    margin: 2rem auto 0 auto;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
    background-image: linear-gradient(#70f094, #349420);
    border-radius: 80px;
    z-index: 12;
    position: relative;
  }

  .submit-button {
    color: white;
    width: 30%;
    height: 5rem;
    margin: 2rem auto 0 auto;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    font-size: large;
    text-decoration: none;
    cursor: pointer;
    box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
    background-image: linear-gradient(#70f094, #349420);
    border-radius: 80px;
    z-index: 12;
    position: relative;
  }
}

.landing-page input {
  border-style: solid;
  border-radius: 6px;
  border-color: black;
  height: 30px;
  width: 55%;
  margin: 10px auto 10px auto;
  z-index: 10;
}

/* Navbar/navmenu styles */
.navbar {
  position: absolute;
  width: 200px;
  height: 100%;
  background: #eeefee;
  left: -200px;
  transition: 0.4s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  color: black;
  z-index: 10;
}

.navbar > ul > li > a {
  color: #3ab39d;
}

.navbar.active {
  left: 0px;
  z-index: 1000;
}

.navbar ul li {
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 20px 30px;
  font-style: normal;
  margin: 0;
  width: 20px;
}

.toggle-button {
  position: relative;
  top: 0;
  left: 120px;
  margin-right: -5px;
  font-size: 38px;
  color: black;
}

.toggle-button span {
  width: 45px;
  height: 45px;
  background-color: black;
  display: block;
}

/* Map page */
.map-exit-btn {
  color: white;
  width: 15rem;
  height: 2rem;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(#70f094, #349420);
  border-radius: 80px;
  z-index: 1200;
  position: relative;
  top: 3rem;
}

/* Group page */
.group-page {
  text-align: center;
  background-color: #40c9b0;
  margin-bottom: 0;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  color: white;
  font-weight: 700;
  zoom: 100%;
}
.group-greeting {
  font-weight: 700;
  font-size: 2rem;
}
.group-name {
  font-size: 2.5rem;
}
.group-page h2 {
  margin: 30px;
}

.group-page h4 {
  margin: 30px;
}

.group-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'users distance';
}
.group-list {
  list-style: none;
  font-size: large;
  text-align: center;
  grid-area: users;
}
.distance-list {
  list-style: none;
  font-size: large;
  text-align: center;
  grid-area: distance;
}
.user-heading {
  text-decoration: underline;
}

.error {
  display: none;
}

/* VR exit button */
.a-enter-vr-button {
  height: 5%;
  width: 20%;
  font-size: 24px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  line-height: 1rem;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a-enter-vr-button:hover {
  background-color: rgb(255, 255, 255);
}
.back-btn {
  height: 50px;
  width: 250px;
  position: absolute;
  left: 3rem;
}
.a-canvas {
  height: 90vh;
}

/* chatroom css */

.chat-page {
  height: 100vh;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  background-color: #40c9b0;
}

.chat-page-title {
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
}

.chatbox {
  padding: 10px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  overflow: scroll;
}

.message-sent {
  flex-direction: row-reverse;
  background-color: #c6ff91;
  line-height: 2em;
  height: auto;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  right: 0;
  color: black;
  text-align: right;
  display: inline-block;
  overflow-y: auto;
}

.message-received {
  align-self: flex-end;
  background-color: white;
  line-height: 2em;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  color: black;
  text-align: left;
  display: inline-block;
  overflow-y: auto;
}

.username-received {
  text-align: left;
  padding-left: 15px;
  margin: 0 5px;
  font-size: large;
  color: white;
}

.username-sent {
  text-align: right;
  text-indent: 10px;
  padding-right: 15px;
  margin: 5px;
  font-size: large;
  color: white;
}

.chat-page form {
  position: fixed;
  width: 100%;
  font-size: 1.2rem;
  bottom: 10px;
}

.submit-button {
  color: white;
  width: 30%;
  height: 3rem;
  margin: 0 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -4px -4px 4px rgb(96 96 96 / 32%), 4px 4px 4px rgb(0 0 0 / 32%);
  background-image: linear-gradient(#70f094, #349420);
  border-radius: 80px;
  z-index: 12;
  position: relative;
  padding: 5px;
  display: inline;
  bottom: 3px;
}

.submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.chat-input {
  line-height: 1;
  width: 60%;
  font-size: 1rem;
  color: black;
  outline: none;
  border: 2px solid;
  border-color: black;
  z-index: 2;
  position: relative;
  resize: none;
  top: 10px;
}

/* loading widget */
.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
